/* 
    Put your custom SCSS here! 
    This allows you to override any CollectionBuilder or Bootstrap CSS without modifying the base theme files directly.
*/
.display-4 {
    color: #ffffff;
    font-size: 3rem;
}

#home-title-box .mb-0 {
    text-transform: uppercase;
}